#main{
    padding-left:10%;
    padding-right:10%;
}
#title{
    display: flex;
    justify-content: center; 
}
img{
    width: 100%;          
    max-width: 600px;     
    height: auto;
    display: block;
    margin: 0 auto;
    padding-top:10px;
    padding-bottom:10px;
}
.program{
    display: flex;
    flex-direction: column;
}
.program pre{
    background-color:black;
    color:white;
    border-radius:5px;
    padding-top:10px;
    padding-left:5px;
    margin-top:0px;
}
.program button{
    margin-left: auto;
    color:white;
    background-color:gray;
    border-radius:5px;
    font-weight: bold;
}
.program button:hover{
    background-color:darkgray;
}
.explain{
    margin-left:10%;
    margin-right:10%;
    background-color:#CCCCCC;
    border-radius:5px;
    padding-left:5px;
    font-size:0.75rem;
}
.explain h4{
    margin-bottom:0px;
}
.explain p{
    margin-top:0px;
    padding-left:10px;
}